body, html						{ height: 100%; }
body							{ margin: 0; 
							  font-size: 12pt;
							  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
							  position: relative; }
.hide							{ display: none; }
#loading						{ background-color: #666; 
							  color: #ddd; }
#loading, #loaded					{ height: 100%; 
							  width: 100%;
							  position: relative; }
#loggedin						{ width: 100%; }
#loggedin > *						{ max-width: 800px; 
							  padding-left: 4pt;
							  padding-right: 4pt;
							  margin-left: auto;
							  margin-right: auto; }
#loadingmsg, #login					{ position: absolute;
							  top: 50%;
							  left: 50%;
							  max-width: 30em;
							  width: 100%;
							  transform: translate(-50%, -50%); }
#loadingmsg						{ max-width: none;
							  width: auto; }
.error							{ color: red; }
#loggedin > input					{ display: none; }
a							{ text-decoration: none; }
#loggedin > input ~ div					{ max-height: 0;
							  opacity: 0;
							  transition: opacity 0.5s ease-in-out;
				  			  overflow: hidden; }
#show-admin:checked ~ #admin,
#show-usermod:checked ~ #usermod,
#show-edits:checked ~ #edits,
#show-entry:checked ~ #entry				{ opacity: 1; 
							  max-height: 100em; }
#loggedin nav						{ display: flex; 
							  align-items: center;
							  background-color: #5a5a5a;
							  max-width: none;
							  padding-bottom: 8pt; 
							  padding-top: 8pt; }
#loggedin nav .icony					{ transition: color 0.5s ease-in-out; }
#loggedin nav a						{ color: #fff; }
#submitform-geolocated					{ color: lightgreen; }
#submitform-geolocating					{ color: orange; }
#submitform-ungeolocated				{ color: red; }
#loggedin nav > * + *					{ margin-left: 8pt; }
#loggedin nav > :nth-child(2)				{ flex: 1; }
#loggedin > input ~ nav label				{ transition: color 0.2s ease-in-out;
							  color: #aaa;
							  padding: 0 2pt;
							  cursor: pointer; }
#loggedin nav label + label				{ margin-left: 6pt; }
#loggedin nav button + button				{ margin-left: 2pt; }
#loggedin nav label:hover				{ color: #eee; }
#show-admin:checked ~ nav #label-admin,
#show-usermod:checked ~ nav #label-usermod,
#show-edits:checked ~ nav #label-edits,
#show-entry:checked ~ nav #label-entry			{ color: #fff; }
#usermod form + form					{ margin-top: 4pt; }
#entry > div						{ padding-bottom: 0.5em; }
#contentform						{ padding-bottom: 0; 
							  margin-top: 1em;
							  margin-bottom: 0; }
#submitform-existing 					{ padding-top: 0.5em; }
#submitform-existing a					{ color: blue; }
#mediaform-pair						{ display: flex; }
#mediaform-pair > :first-child				{ flex: 1; 
							  margin-right: 4pt; }
fieldset						{ border: none;
							  margin: 1em 0;
							  padding: 0; }
fieldset + .buttons					{ margin-top: -0.5em; 
							  margin-bottom: 1em; }
label.formlabel, fieldset label				{ color: #888; 
						   	  display: block; 
						 	  margin-bottom: 1pt; }
fieldset select, 
fieldset input, 
fieldset textarea					{ font-size: inherit;
							  font-weight: inherit;
							  margin: 0;
							  width: 100%;
							  padding: 6pt;
							  box-shadow: inset 0 0 2px #aaa;
							  -moz-box-sizing: border-box;
							  -webkit-box-sizing: border-box;
							  box-sizing: border-box;
							  border-radius: 4pt;
							  font-family: inherit; }
fieldset > * + *					{ margin-top: 0.5em; }
fieldset select, 
fieldset input, 
fieldset textarea					{ border: 1px solid black; }
button							{ color: rgba(0, 0, 0, 0.8);
							  border: 0px none transparent;
							  background-color: #D6D6D6;
							  text-decoration: none;
							  padding: 4pt 8pt;
							  font-size: inherit;
							  font-family: inherit;
							  border-radius: 2pt; 
							  white-space: nowrap;
							  box-shadow: inset 0 0 2px #aaa;
							  -moz-box-sizing: border-box;
							  -webkit-box-sizing: border-box;
							  box-sizing: border-box;
							  text-align: center;
							  cursor: pointer;
							  -moz-user-select: none; }
fieldset input[type="checkbox"]				{ width: auto; }
fieldset input[readonly="readonly"]			{ background-color: #f4f4f4; }
button:hover						{ background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1)); }
button:active						{ box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15) inset, 0px 0px 6px rgba(0, 0, 0, 0.2) inset; }
button.primary						{ background-color: #0078E7;
							  color: #FFF; }
button[disabled]					{ opacity: 0.4; }
button[disabled]:hover					{ background-image: none; }
footer							{ font-size: 10pt; 
							  color: #888; 
							  margin-top: 24pt; }
footer a						{ color: #555; }
footer a:hover						{ color: #444; }
#loggedin footer					{ margin-bottom: 12pt; }
#login label						{ color: #333; }
#editlist						{ margin-top: 1em; }
#editlist a						{ color: blue; }
#editlist .editlist-dates				{ font-size: 11pt; }
#editlist > div + div					{ margin-top: 6pt; }
#editlist .editlist-mtimebox				{ color: #666; }
#userlist						{ margin-top: 1em; }
#userlist .userlist-enabled				{ color: #333; }
#userlist .userlist-disabled				{ color: #888; }
#userlist > div > :first-child				{ margin-right: 1ex; }

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
#loggedin nav						{ text-align: left; 
							  margin-left: 0;
							  padding-left: 4pt;
							  padding-right: 4pt;
							  margin-right: 0; }
#loggedin nav a,
#loggedin nav label, 
#loggedin nav .icony					{ font-size: 14pt; }
#entry .editor-toolbar a				{ width: 24px; }
#entry .editor-toolbar i.separator			{ margin: 1pt; }
#loggedin nav label + label				{ margin-left: 2pt; }
button span						{ display: none; }
label span						{ display: none; }
#loggedin nav > * + *					{ margin-left: 4pt; }
#login > *						{ padding-left: 4pt;
							  padding-right: 4pt; }
footer							{ text-align: center; }
}
